
<html>
	<head>
		<title>Overflow by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/style.css" />
	<!-- <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript> -->
	<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</head>
	<body class="is-preload">
			
<!-- Banner -->
	<section id="banner">

		<h1>Welcome to SkyTrack</h1>
				<div></div>
				<div></div>
				<div></div>
		<div id="container">
			<h3>Current location of the International Space Station</h3>
			<h5>(Updates every 10 seconds)</h5>
			<br>
		</div>
			<p>A brand new App designed by <a href="https://www.linkedin.com/in/luke-myers-5176022a/">Luke</a> <br/> We are able to keep track on many things in our lives from the time to the weather.<br />
			But very few of us have been able to keep track of what is going on in space, untill now.<br />
			With the help of Skytrac you can keep track of the weather on Mars, the location of <br /> the Internatinal Space Station and get pictures of space on a daily basis.</p>
	</section>

<div id="map"></div>

	<ul class="li">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<!-- Map BOX Script -------------  -->
<script>
	mapboxgl.accessToken = '<%= mapkey %>'
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: ['<%= match.latitude %>', '<%= match.longitude %>'],
		zoom: 3
	})
	var geojson = {
		type: 'FeatureCollection',
		features: [{
			type: 'Feature',
			geometry: {
				type: 'Point',
				coordinates: ['<%= match.latitude %>', '<%= match.longitude %>'],
			},
			properties: {
				title: 'Mapbox',
				description: 'Mapbox element'
			}
		}]
	}

		// ISS Tracker for MAPBox -----------------------------------------
		
		geojson.features.forEach(marker => {
        var el = document.createElement('img')
        el.className = 'marker'
        el.src = 'https://science.nasa.gov/files/science-pink/s3fs-public/styles/large/public/thumbnails/image/ISS-sm.png?itok=2zzSZy7W'
        el.style.width = '5vw'
		
        new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .addTo(map)
    })	
</script>
		<ul class="li">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul> 
<section class="articles2">
	<!-- <header class="txtcenter"> -->
		<h2>Pictures of us from the ISS</h2>
		<p>See the wonder and beauty of<br />
		earth everyday.</p>
	<!-- </header> -->
</section>
			 
		<!-- Picture Area -->
			<div class="gallery">
			<div class="picture"><a href="images/space/1.jpg" class="image fit"><img src="images/thumbs/1.jpg" alt="" title="Cherish" /></a></div>
			<div class="picture"><a href="images/space/2.jpg" class="image fit"><img src="images/thumbs/2.jpg" alt="" title="Different." /></a></div>
			<div class="picture"><a href="images/space/3.jpeg" class="image fit"><img src="images/thumbs/3.jpeg" alt="" title="History was made here" /></a></div>
			<div class="picture"><a href="images/space/4.jpg" class="image fit"><img src="images/thumbs/4.jpg" alt="" title="People come and go and walk away" /></a></div>
			<div class="picture"><a href="images/space/5.jpg" class="image fit"><img src="images/thumbs/5.jpg" alt="" title="Ad infinitum" /></a></div>
			<div class="picture"><a href="images/space/6.jpg" class="image fit"><img src="images/thumbs/6.jpg" alt="" title="Dressed in Clarity" /></a></div>
			<div class="picture"><a href="images/space/7.jpg" class="image fit"><img src="images/thumbs/7.jpg" alt="" title="Raven" /></a></div>
			<div class="picture"><a href="images/space/8.jpg" class="image fit"><img src="images/thumbs/8.jpg" alt="" title="I'll have a cup of Disneyland, please" /></a></div> 
			<div class="picture"><a href="images/space/9.jpeg" class="image fit"><img src="images/thumbs/9.jpeg" alt="" title="People come and go and walk away" /></a></div>


		<!-- User Comment and User Space ISS Tracking Journal -->
		<section class="articles">
			<header>
				<h2>ISS Tracking Journal</h2>
				<p>Record and Share your encouters with the ISS in the night sky above you !</p>
			</header>
		</section>	
		  <section class="share">
			<% articles.forEach(function(a) { %>
			  <div class="well">
				<h2>
				  <a href="/articles/<%= a.id %>"><%= a.title %></a>   
				</h2>
				<p>
				  <strong><%= moment(a.createdAt).calendar() %></strong>
				</p>
			  </div>
			<% }) %> 
			
		</section>





	</body>
<footer id="footer">@Luke Myers 2020
	<a href="https://github.com/sky777666"><ion-icon name="logo-github"></ion-icon></a> 
	
</footer>
</html>































